<header><a href="/db">DB</a></header>

{{#with model}}
<div id="title-container">
    <h1>
        {{title}}
    </h1>
</div>
<hr />
<main>
    <form id="note-input">
        <input type="tegetxt" name="note" placeholder="Add new note!" />
        <button type="submit">Add</button>
    </form>
    <section>
        {{#each notes}}
        <div>
            <span>{{this}}</span>
        </div>
        <button><i class="fa-solid fa-pen-to-square"></i></button>
        <button onclick="deleteNote({{this.noteId}})"><i class="fa-solid fa-delete-left"></i></button>
        {{/each}}
    </section>
</main>
{{/with}}