body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    letter-spacing: .2em;
    color: #000000;
    background: #6804b9;
    text-shadow: #474747 3px 2px 2px;
}
a {
    text-decoration: underline;
}
hr {
    border-width: 0;
    border-bottom-width: 2px;
    border-color: #bdd;
    border-style: solid;
}

main {
    margin: 20px 10px;
}

form {
    display: flex;
    justify-content: center;
    gap: 8px;
}
#note-input input {
    flex-grow: 2;
    background-color: #6800a5;
    color: #000;
    font-size: 1.2em;
    border: 0;
    border-radius: 8px;
    box-shadow: #bdd 0 0 4px 1px;
    padding:16px;
    max-width: 500px;
}

#note-input input:focus-visible {
    outline: none;
    box-shadow: #bdd 0 0 6px 2px;
}


#note-input button {
    background-color: #bdd;
    min-width: 80px;
    max-width: 120px;
    flex-grow: 1;
    border: 0;
    border-radius: 8px;
    box-shadow: rgb(54, 1, 38) 0 0 3px 1px;

    transition: background-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: box-shadow 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
}
#note-input button:hover {
    background-color: rgb(136, 2, 125);
    box-shadow: rgb(7, 0, 4) 0 0 6px 2px;
}
section {
    margin-top: 1em;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

section>div {
    justify-content: space-between;
    background-color: #6800a5;
    box-shadow: rgb(20, 27, 27) 0 0 4px 1px;
    padding: 16px;
    border-radius: 8px;
    width: 100%;
    max-width:1000px;
}

#title-container {
    display: flex;
    justify-content: center;
}

h1 {
    margin-right: 10px;
    margin-bottom: 0;
    font-size: 40px;
}

.note {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.note>.note-text {
    padding-right: 40px;
}

.note>.buttons {
    display: flex;
    gap: 0.5em;
}
.note>.buttons i{
    color: inherit;
    font-size: 0.8em;
}

.note>.buttons>button {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #ddf; */
    background: none;
    color:  #bdd;
    box-shadow: #bdd 0 0 2px 1px;
    border: none;
    border-radius: 50px;
    width: 2em;
    height: 2em;
    cursor: pointer;
    transition: background-color 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.note>.buttons i:hover{
    color: inherit;
    font-size: 0.8em;
}

.note>.buttons>button:hover {
    color:#000000;
    background-color: rgb(136, 2, 125);
}
.hidden {
    display: none !important;
}

.note-priority {
    flex-grow: 1;
    text-align: right;
    padding: 0 20px;
    color: #577;
}

.note.style-1 {
    /*Red*/

    background-color: #f33;
    box-shadow: #d88 0 0 4px 1px;
}

.note.style-1 .note-priority {
    color: #ddf;
}

.note.style-2 {
    /*Yellow*/

    background-color: #bb6;
    box-shadow: #bb8 0 0 4px 1px;
}

.note.style-3 {
    /*Green*/

    background-color: #696;
    box-shadow: #d88 0 0 4px 1px;
}

.note.style-3 .note-priority {
    color: #ddf;
}